<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6daf39045d4944f8803e7639f35e9d21 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_6daf39045d4944f8803e7639f35e9d21" ></div>
        
</body>
<script>    
    
            var map_6daf39045d4944f8803e7639f35e9d21 = L.map(
                "map_6daf39045d4944f8803e7639f35e9d21",
                {
                    center: [36.87019, -29.421995],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4e4fe0a51c204eccb252bb3e97afbef1 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6daf39045d4944f8803e7639f35e9d21);
        
    
            var feature_group_1ef88d665a1444ea8d0e758426789159 = L.featureGroup(
                {}
            ).addTo(map_6daf39045d4944f8803e7639f35e9d21);
        
    
            var marker_082bfddd107e4ab18083c8708451685f = L.marker(
                [42.6410472, -70.6165149],
                {}
            ).addTo(feature_group_1ef88d665a1444ea8d0e758426789159);
        
    
            var icon_7a85967dc3db425fa17acd510094fb08 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_082bfddd107e4ab18083c8708451685f.setIcon(icon_7a85967dc3db425fa17acd510094fb08);
        
    
        var popup_d8b6624a79454aecace33b0981a84d83 = L.popup({"maxWidth": "100%"});

        
            var html_6cf923e02a53432f9102f22aa64d8b08 = $(`<div id="html_6cf923e02a53432f9102f22aa64d8b08" style="width: 100.0%; height: 100.0%;">dogecoin_devs</div>`)[0];
            popup_d8b6624a79454aecace33b0981a84d83.setContent(html_6cf923e02a53432f9102f22aa64d8b08);
        

        marker_082bfddd107e4ab18083c8708451685f.bindPopup(popup_d8b6624a79454aecace33b0981a84d83)
        ;

        
    
    
            var marker_485d07b022b54bbc884c62852e9c70a0 = L.marker(
                [58.5959044, 23.21964608602439],
                {}
            ).addTo(feature_group_1ef88d665a1444ea8d0e758426789159);
        
    
            var icon_fc6e3ce3137d4cdab3ce6f9949a638d8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_485d07b022b54bbc884c62852e9c70a0.setIcon(icon_fc6e3ce3137d4cdab3ce6f9949a638d8);
        
    
        var popup_4d54b226b7fc403ab7bbb3600ab9a682 = L.popup({"maxWidth": "100%"});

        
            var html_2fd736f9217446c18a8f29644f0c3112 = $(`<div id="html_2fd736f9217446c18a8f29644f0c3112" style="width: 100.0%; height: 100.0%;">dogecoin</div>`)[0];
            popup_4d54b226b7fc403ab7bbb3600ab9a682.setContent(html_2fd736f9217446c18a8f29644f0c3112);
        

        marker_485d07b022b54bbc884c62852e9c70a0.bindPopup(popup_4d54b226b7fc403ab7bbb3600ab9a682)
        ;

        
    
    
            var marker_619370d423ad4556a4ac4db19cff4be6 = L.marker(
                [37.426540700000004, -122.17029258409187],
                {}
            ).addTo(feature_group_1ef88d665a1444ea8d0e758426789159);
        
    
            var icon_a359254cf70f489983f237144434c02a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_619370d423ad4556a4ac4db19cff4be6.setIcon(icon_a359254cf70f489983f237144434c02a);
        
    
        var popup_308c142e7eb04a83a8aba8075772fb3c = L.popup({"maxWidth": "100%"});

        
            var html_3700f99332194fab9b123fbff33fed55 = $(`<div id="html_3700f99332194fab9b123fbff33fed55" style="width: 100.0%; height: 100.0%;">karpathy</div>`)[0];
            popup_308c142e7eb04a83a8aba8075772fb3c.setContent(html_3700f99332194fab9b123fbff33fed55);
        

        marker_619370d423ad4556a4ac4db19cff4be6.bindPopup(popup_308c142e7eb04a83a8aba8075772fb3c)
        ;

        
    
    
            var marker_61072b8b6a924a7fa97e937f9e7c54c5 = L.marker(
                [29.5517223, -95.0985272],
                {}
            ).addTo(feature_group_1ef88d665a1444ea8d0e758426789159);
        
    
            var icon_0eb00daea2fb4a7abcb7ad45820793ca = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_61072b8b6a924a7fa97e937f9e7c54c5.setIcon(icon_0eb00daea2fb4a7abcb7ad45820793ca);
        
    
        var popup_8f3927e571e94119b02f07a0ef5a9945 = L.popup({"maxWidth": "100%"});

        
            var html_2588854a513e4c258ab6d5c8438e42cc = $(`<div id="html_2588854a513e4c258ab6d5c8438e42cc" style="width: 100.0%; height: 100.0%;">Astro_Soichi</div>`)[0];
            popup_8f3927e571e94119b02f07a0ef5a9945.setContent(html_2588854a513e4c258ab6d5c8438e42cc);
        

        marker_61072b8b6a924a7fa97e937f9e7c54c5.bindPopup(popup_8f3927e571e94119b02f07a0ef5a9945)
        ;

        
    
    
            var marker_41505840e2424cb892db8f4cd04faa92 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(feature_group_1ef88d665a1444ea8d0e758426789159);
        
    
            var icon_ca34b6d45ae14914b887a5d7dbf1df9a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_41505840e2424cb892db8f4cd04faa92.setIcon(icon_ca34b6d45ae14914b887a5d7dbf1df9a);
        
    
        var popup_eaa9cfd35c31455fbdfce0c8a69fd253 = L.popup({"maxWidth": "100%"});

        
            var html_e43b63d5d2c54f0a8cbf54af94bf8eed = $(`<div id="html_e43b63d5d2c54f0a8cbf54af94bf8eed" style="width: 100.0%; height: 100.0%;">PopMech</div>`)[0];
            popup_eaa9cfd35c31455fbdfce0c8a69fd253.setContent(html_e43b63d5d2c54f0a8cbf54af94bf8eed);
        

        marker_41505840e2424cb892db8f4cd04faa92.bindPopup(popup_eaa9cfd35c31455fbdfce0c8a69fd253)
        ;

        
    
    
            var marker_cac3fd5665f444aaa0fa0dea84b363d3 = L.marker(
                [-6.1753942, 106.827183],
                {}
            ).addTo(feature_group_1ef88d665a1444ea8d0e758426789159);
        
    
            var icon_1246e1ddb7e441bf8f54fa533cceced0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_cac3fd5665f444aaa0fa0dea84b363d3.setIcon(icon_1246e1ddb7e441bf8f54fa533cceced0);
        
    
        var popup_637e692c546e4ee5bf1214708736d905 = L.popup({"maxWidth": "100%"});

        
            var html_7ef3dc18bc234532ba9b6ccde2af48d9 = $(`<div id="html_7ef3dc18bc234532ba9b6ccde2af48d9" style="width: 100.0%; height: 100.0%;">Nigel_Lockyer</div>`)[0];
            popup_637e692c546e4ee5bf1214708736d905.setContent(html_7ef3dc18bc234532ba9b6ccde2af48d9);
        

        marker_cac3fd5665f444aaa0fa0dea84b363d3.bindPopup(popup_637e692c546e4ee5bf1214708736d905)
        ;

        
    
    
            var marker_2a2f9758cead4fe6aa8e9b7df14e5732 = L.marker(
                [58.5959044, 23.21964608602439],
                {}
            ).addTo(feature_group_1ef88d665a1444ea8d0e758426789159);
        
    
            var icon_0a287b0eb6774edf8feccd2ddc81a863 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_2a2f9758cead4fe6aa8e9b7df14e5732.setIcon(icon_0a287b0eb6774edf8feccd2ddc81a863);
        
    
        var popup_c0952cc3bc3e400081b67293dc8167b0 = L.popup({"maxWidth": "100%"});

        
            var html_c56044a53c144d9a9cfed346df6825ea = $(`<div id="html_c56044a53c144d9a9cfed346df6825ea" style="width: 100.0%; height: 100.0%;">jagarikin</div>`)[0];
            popup_c0952cc3bc3e400081b67293dc8167b0.setContent(html_c56044a53c144d9a9cfed346df6825ea);
        

        marker_2a2f9758cead4fe6aa8e9b7df14e5732.bindPopup(popup_c0952cc3bc3e400081b67293dc8167b0)
        ;

        
    
    
            var marker_d3812d4a398c4816a316e40daf98239e = L.marker(
                [31.2322758, 121.4692071],
                {}
            ).addTo(feature_group_1ef88d665a1444ea8d0e758426789159);
        
    
            var icon_ea6bfdf1219547e382a252c69986bdc6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_d3812d4a398c4816a316e40daf98239e.setIcon(icon_ea6bfdf1219547e382a252c69986bdc6);
        
    
        var popup_808c1c55eec14057b56a3f22ba6f711b = L.popup({"maxWidth": "100%"});

        
            var html_0c2dc9cc296f44d193668886ee5666a1 = $(`<div id="html_0c2dc9cc296f44d193668886ee5666a1" style="width: 100.0%; height: 100.0%;">teslacn</div>`)[0];
            popup_808c1c55eec14057b56a3f22ba6f711b.setContent(html_0c2dc9cc296f44d193668886ee5666a1);
        

        marker_d3812d4a398c4816a316e40daf98239e.bindPopup(popup_808c1c55eec14057b56a3f22ba6f711b)
        ;

        
    
    
            var marker_c48adbfe9101430fa732f43d4750e0b5 = L.marker(
                [51.5073219, -0.1276474],
                {}
            ).addTo(feature_group_1ef88d665a1444ea8d0e758426789159);
        
    
            var icon_a57a4acd6fcd4230ae9f5b5a001ec2c0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_c48adbfe9101430fa732f43d4750e0b5.setIcon(icon_a57a4acd6fcd4230ae9f5b5a001ec2c0);
        
    
        var popup_dd01fa2d91e642c39f5ac3ebb65c56f5 = L.popup({"maxWidth": "100%"});

        
            var html_293dc05e7d914313820c80b2aeff2b44 = $(`<div id="html_293dc05e7d914313820c80b2aeff2b44" style="width: 100.0%; height: 100.0%;">DeepMind</div>`)[0];
            popup_dd01fa2d91e642c39f5ac3ebb65c56f5.setContent(html_293dc05e7d914313820c80b2aeff2b44);
        

        marker_c48adbfe9101430fa732f43d4750e0b5.bindPopup(popup_dd01fa2d91e642c39f5ac3ebb65c56f5)
        ;

        
    
    
            var marker_718dcaca7f2e490aa4d6014cc91f124f = L.marker(
                [28.58977955, -81.19966950777493],
                {}
            ).addTo(feature_group_1ef88d665a1444ea8d0e758426789159);
        
    
            var icon_733a8a9a398e4831acda8c70fe71a290 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_718dcaca7f2e490aa4d6014cc91f124f.setIcon(icon_733a8a9a398e4831acda8c70fe71a290);
        
    
        var popup_c9194597abcd4ea0a3868b87ddd280b7 = L.popup({"maxWidth": "100%"});

        
            var html_d79a9b4742fa4df78c0495d76e53ffc7 = $(`<div id="html_d79a9b4742fa4df78c0495d76e53ffc7" style="width: 100.0%; height: 100.0%;">ashleevance</div>`)[0];
            popup_c9194597abcd4ea0a3868b87ddd280b7.setContent(html_d79a9b4742fa4df78c0495d76e53ffc7);
        

        marker_718dcaca7f2e490aa4d6014cc91f124f.bindPopup(popup_c9194597abcd4ea0a3868b87ddd280b7)
        ;

        
    
    
            var layer_control_ca4cdf4b30774002a54e672f33b48dd4 = {
                base_layers : {
                    "openstreetmap" : tile_layer_4e4fe0a51c204eccb252bb3e97afbef1,
                },
                overlays :  {
                    "Friends\u0027 locations" : feature_group_1ef88d665a1444ea8d0e758426789159,
                },
            };
            L.control.layers(
                layer_control_ca4cdf4b30774002a54e672f33b48dd4.base_layers,
                layer_control_ca4cdf4b30774002a54e672f33b48dd4.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_6daf39045d4944f8803e7639f35e9d21);
        
</script>