<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cae0706ed1494024974c89707ced0922 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_cae0706ed1494024974c89707ced0922" ></div>
        
</body>
<script>    
    
            var map_cae0706ed1494024974c89707ced0922 = L.map(
                "map_cae0706ed1494024974c89707ced0922",
                {
                    center: [36.87019, -29.421995],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d4153bdccd7e4d088560843f80d22663 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_cae0706ed1494024974c89707ced0922);
        
    
            var feature_group_69a65edfa5484cea961e0cd7b22415c3 = L.featureGroup(
                {}
            ).addTo(map_cae0706ed1494024974c89707ced0922);
        
    
            var marker_eb94e7f1797a47ea9037dcc1f8c534aa = L.marker(
                [42.6410472, -70.6165149],
                {}
            ).addTo(feature_group_69a65edfa5484cea961e0cd7b22415c3);
        
    
            var icon_f4b734ea2a3640b8a8cc0d60a7fc2e14 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_eb94e7f1797a47ea9037dcc1f8c534aa.setIcon(icon_f4b734ea2a3640b8a8cc0d60a7fc2e14);
        
    
        var popup_be9e59eb0c78471bb6b0246d183991be = L.popup({"maxWidth": "100%"});

        
            var html_86a03edfe6dc47b39ff326cfd5cf7279 = $(`<div id="html_86a03edfe6dc47b39ff326cfd5cf7279" style="width: 100.0%; height: 100.0%;">dogecoin_devs</div>`)[0];
            popup_be9e59eb0c78471bb6b0246d183991be.setContent(html_86a03edfe6dc47b39ff326cfd5cf7279);
        

        marker_eb94e7f1797a47ea9037dcc1f8c534aa.bindPopup(popup_be9e59eb0c78471bb6b0246d183991be)
        ;

        
    
    
            var marker_2fe760f8d9074082a19bc6965b5fcd84 = L.marker(
                [58.5959044, 23.21964608602439],
                {}
            ).addTo(feature_group_69a65edfa5484cea961e0cd7b22415c3);
        
    
            var icon_fad575b323564a0dbdf95ce5a8a47a83 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_2fe760f8d9074082a19bc6965b5fcd84.setIcon(icon_fad575b323564a0dbdf95ce5a8a47a83);
        
    
        var popup_1a2932c471a54ad5b1372a455da527c7 = L.popup({"maxWidth": "100%"});

        
            var html_04066c71bd574e568773946663babcd1 = $(`<div id="html_04066c71bd574e568773946663babcd1" style="width: 100.0%; height: 100.0%;">dogecoin</div>`)[0];
            popup_1a2932c471a54ad5b1372a455da527c7.setContent(html_04066c71bd574e568773946663babcd1);
        

        marker_2fe760f8d9074082a19bc6965b5fcd84.bindPopup(popup_1a2932c471a54ad5b1372a455da527c7)
        ;

        
    
    
            var marker_7208699886c645c8aa16b2adbe859fbe = L.marker(
                [37.426540700000004, -122.17029258409187],
                {}
            ).addTo(feature_group_69a65edfa5484cea961e0cd7b22415c3);
        
    
            var icon_cc8fb14ec6c548e78a65ff5082923655 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_7208699886c645c8aa16b2adbe859fbe.setIcon(icon_cc8fb14ec6c548e78a65ff5082923655);
        
    
        var popup_e129172d1dff4b8dbaa61f0a559269ab = L.popup({"maxWidth": "100%"});

        
            var html_ba0f3e498c2c4600b7d9295c337e7d27 = $(`<div id="html_ba0f3e498c2c4600b7d9295c337e7d27" style="width: 100.0%; height: 100.0%;">karpathy</div>`)[0];
            popup_e129172d1dff4b8dbaa61f0a559269ab.setContent(html_ba0f3e498c2c4600b7d9295c337e7d27);
        

        marker_7208699886c645c8aa16b2adbe859fbe.bindPopup(popup_e129172d1dff4b8dbaa61f0a559269ab)
        ;

        
    
    
            var marker_ecf9525b2b004abe9206d8e67c3d538a = L.marker(
                [29.5517223, -95.0985272],
                {}
            ).addTo(feature_group_69a65edfa5484cea961e0cd7b22415c3);
        
    
            var icon_0bdcef1f71db4c60b72a9c03ce8c7c5e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_ecf9525b2b004abe9206d8e67c3d538a.setIcon(icon_0bdcef1f71db4c60b72a9c03ce8c7c5e);
        
    
        var popup_1e07fd3e34d742ca99c7fbf301b73bd6 = L.popup({"maxWidth": "100%"});

        
            var html_0fe1cc1ad5f846cfb5afa9c325f996d0 = $(`<div id="html_0fe1cc1ad5f846cfb5afa9c325f996d0" style="width: 100.0%; height: 100.0%;">Astro_Soichi</div>`)[0];
            popup_1e07fd3e34d742ca99c7fbf301b73bd6.setContent(html_0fe1cc1ad5f846cfb5afa9c325f996d0);
        

        marker_ecf9525b2b004abe9206d8e67c3d538a.bindPopup(popup_1e07fd3e34d742ca99c7fbf301b73bd6)
        ;

        
    
    
            var marker_ef74e36def8c46648630fa44a4069ab7 = L.marker(
                [40.7127281, -74.0060152],
                {}
            ).addTo(feature_group_69a65edfa5484cea961e0cd7b22415c3);
        
    
            var icon_2222912e2e2242f1a52b27400434c093 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_ef74e36def8c46648630fa44a4069ab7.setIcon(icon_2222912e2e2242f1a52b27400434c093);
        
    
        var popup_421bce9ca26744a4af77ed212acc934b = L.popup({"maxWidth": "100%"});

        
            var html_060045d454914392b77b025afd8b48eb = $(`<div id="html_060045d454914392b77b025afd8b48eb" style="width: 100.0%; height: 100.0%;">PopMech</div>`)[0];
            popup_421bce9ca26744a4af77ed212acc934b.setContent(html_060045d454914392b77b025afd8b48eb);
        

        marker_ef74e36def8c46648630fa44a4069ab7.bindPopup(popup_421bce9ca26744a4af77ed212acc934b)
        ;

        
    
    
            var marker_40f66d0d3401400bb41b5e5737f6e9d9 = L.marker(
                [-6.1753942, 106.827183],
                {}
            ).addTo(feature_group_69a65edfa5484cea961e0cd7b22415c3);
        
    
            var icon_4a40094483e64dde93d4c7ac1b1983b8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_40f66d0d3401400bb41b5e5737f6e9d9.setIcon(icon_4a40094483e64dde93d4c7ac1b1983b8);
        
    
        var popup_a2fe30b6bf5f4d0d8002bcc3d740d43f = L.popup({"maxWidth": "100%"});

        
            var html_db7c9304b8c24fd9a993d322564035c1 = $(`<div id="html_db7c9304b8c24fd9a993d322564035c1" style="width: 100.0%; height: 100.0%;">Nigel_Lockyer</div>`)[0];
            popup_a2fe30b6bf5f4d0d8002bcc3d740d43f.setContent(html_db7c9304b8c24fd9a993d322564035c1);
        

        marker_40f66d0d3401400bb41b5e5737f6e9d9.bindPopup(popup_a2fe30b6bf5f4d0d8002bcc3d740d43f)
        ;

        
    
    
            var marker_194b4494981f41799f68d553b62910e9 = L.marker(
                [58.5959044, 23.21964608602439],
                {}
            ).addTo(feature_group_69a65edfa5484cea961e0cd7b22415c3);
        
    
            var icon_54473f886844442e843d252ed25ca39a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_194b4494981f41799f68d553b62910e9.setIcon(icon_54473f886844442e843d252ed25ca39a);
        
    
        var popup_6c6e81416c164a0582e2fa514a2bb9b9 = L.popup({"maxWidth": "100%"});

        
            var html_183977512da749d98131e9701216c3d6 = $(`<div id="html_183977512da749d98131e9701216c3d6" style="width: 100.0%; height: 100.0%;">jagarikin</div>`)[0];
            popup_6c6e81416c164a0582e2fa514a2bb9b9.setContent(html_183977512da749d98131e9701216c3d6);
        

        marker_194b4494981f41799f68d553b62910e9.bindPopup(popup_6c6e81416c164a0582e2fa514a2bb9b9)
        ;

        
    
    
            var marker_171fc8ad4c4f46d9a24f2c471e0beaa0 = L.marker(
                [31.2322758, 121.4692071],
                {}
            ).addTo(feature_group_69a65edfa5484cea961e0cd7b22415c3);
        
    
            var icon_4dfcf2435d8b488bb1a1fd3536e469f7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_171fc8ad4c4f46d9a24f2c471e0beaa0.setIcon(icon_4dfcf2435d8b488bb1a1fd3536e469f7);
        
    
        var popup_07e266c733ca49a4ad14f35a8d2bff05 = L.popup({"maxWidth": "100%"});

        
            var html_71b92a4963884001a09a2c61413bcb00 = $(`<div id="html_71b92a4963884001a09a2c61413bcb00" style="width: 100.0%; height: 100.0%;">teslacn</div>`)[0];
            popup_07e266c733ca49a4ad14f35a8d2bff05.setContent(html_71b92a4963884001a09a2c61413bcb00);
        

        marker_171fc8ad4c4f46d9a24f2c471e0beaa0.bindPopup(popup_07e266c733ca49a4ad14f35a8d2bff05)
        ;

        
    
    
            var marker_9e64c26fa2ab45fa8054c6da8eb9b08d = L.marker(
                [51.5073219, -0.1276474],
                {}
            ).addTo(feature_group_69a65edfa5484cea961e0cd7b22415c3);
        
    
            var icon_f20e19b768764d6c9edd5fe8b1f3f07d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_9e64c26fa2ab45fa8054c6da8eb9b08d.setIcon(icon_f20e19b768764d6c9edd5fe8b1f3f07d);
        
    
        var popup_29f761be96e4434ea7add690dceec4b7 = L.popup({"maxWidth": "100%"});

        
            var html_1c726903c4e4478ea0fd57bf8b092e08 = $(`<div id="html_1c726903c4e4478ea0fd57bf8b092e08" style="width: 100.0%; height: 100.0%;">DeepMind</div>`)[0];
            popup_29f761be96e4434ea7add690dceec4b7.setContent(html_1c726903c4e4478ea0fd57bf8b092e08);
        

        marker_9e64c26fa2ab45fa8054c6da8eb9b08d.bindPopup(popup_29f761be96e4434ea7add690dceec4b7)
        ;

        
    
    
            var marker_a42df67779b84ace8973d281a5b8e177 = L.marker(
                [28.58977955, -81.19966950777493],
                {}
            ).addTo(feature_group_69a65edfa5484cea961e0cd7b22415c3);
        
    
            var icon_25a6c5bfad704bb78cb2c554d943dee4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "cadetblue", "prefix": "glyphicon"}
            );
            marker_a42df67779b84ace8973d281a5b8e177.setIcon(icon_25a6c5bfad704bb78cb2c554d943dee4);
        
    
        var popup_64157879751e493ab2d455d384917d9a = L.popup({"maxWidth": "100%"});

        
            var html_9ab79e8067a84fe08f5f2d079355f65a = $(`<div id="html_9ab79e8067a84fe08f5f2d079355f65a" style="width: 100.0%; height: 100.0%;">ashleevance</div>`)[0];
            popup_64157879751e493ab2d455d384917d9a.setContent(html_9ab79e8067a84fe08f5f2d079355f65a);
        

        marker_a42df67779b84ace8973d281a5b8e177.bindPopup(popup_64157879751e493ab2d455d384917d9a)
        ;

        
    
    
            var layer_control_8f332c2860b34b0db5206c52b51cb51b = {
                base_layers : {
                    "openstreetmap" : tile_layer_d4153bdccd7e4d088560843f80d22663,
                },
                overlays :  {
                    "Friends\u0027 locations" : feature_group_69a65edfa5484cea961e0cd7b22415c3,
                },
            };
            L.control.layers(
                layer_control_8f332c2860b34b0db5206c52b51cb51b.base_layers,
                layer_control_8f332c2860b34b0db5206c52b51cb51b.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_cae0706ed1494024974c89707ced0922);
        
</script>